@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

/*General Styles*/
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --bold-font-family: "Notable", sans-serif;
    --cursive-font-family: 'Permanent Marker', cursive;
    --regular-font-family: 'Dekko', sans-serif;
    --primary-bg-color: #161616;
    --secondary-bg-color: #d1d1d1;
    --ultra-large-font-size: 40rem;
    --large-font-size: 1.8rem;
    --medium-font-size: 1.2rem;
    --small-font-size: .85rem;
    --primary-text-color: #c7c7c7;
    --secundary-text-color: #1b1b1b;
}


body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

a, li {
    text-decoration: none;
    list-style: none;
}

/*Header Section*/

header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    z-index: 1000;
    font-family: var(--cursive-font-family);
    background-color: var(--secondary-bg-color);
    color: var(--secundary-text-color);
}

.title-container {
    font-size: var(--large-font-size);
    position: relative;
}

.title span {
    display: inline-block;
}

/*Nav Section*/
.nav-container {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
}

.nav-items {
    width: auto;
    padding: 5px 10px;
    position: relative;
    color: var(--secundary-text-color);
}

.nav-items span {
    display: inline-block;
}

.nav-items::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.05rem;
    background-color: #1b1b1b;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms ease-out;
}

.nav-items:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/*Hero Section*/

.hero {
    width: 75%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    -webkit-mask-image:linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0) 100%
    );
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0) 100%
    );
}

.scroll-track {
    max-width: max-content;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    gap: 100px;
    padding: 20px;
    animation: carousel 25s linear infinite;
}

.album-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 350ms ease-in-out;
}

.album-carousel:hover {
    cursor: pointer;
    transform: scale(1.05);
    opacity: .6;
}

.album-carousel img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

/*About Wrapper Section*/

.about-wrapper {
    width: 500vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    will-change: transform;
    position: relative;
}

.about-title {
    text-align: center;
    font-size: var(--ultra-large-font-size);
    color: var(--primary-text-color);
    font-family: var(--bold-font-family);
    position: relative;
}

/*About Section Info*/

.about-info {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.info {
    width: 90%;
    font-size: 2.2rem;
    font-weight: 900;
    font-family: var(--bold-font-family);
    position: relative;
}

/*Timeline Section*/
.timeline-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden; 
    padding: 0 0 20px 0;
}

.title-mask {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-bg-color);
    inset: 0;
    pointer-events: none;
}

.timeline-title {
    font-size: 6rem;
    font-family: var(--bold-font-family);
    display: flex;
    align-items: center;
    pointer-events: auto;
    /* Importante: para optimizar la animación de escala */
    will-change: transform, opacity; 
    /* Fuerzas el renderizado de alta calidad para las tipografías */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.timeline-title span {
    display: inline-block;
}

.timeline {
    width: 90%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checkpoint {
    width: 40%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.checkpoint div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;    
    border: 2px solid var(--secondary-bg-color);
    border-radius: 20px;
    padding: 1.5rem;
}

.checkpoint div img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.checkpoint div p {
    font-size: var(--medium-font-size);
    font-family: var(--regular-font-family);
    line-height: 22px;
}

.checkpoint:nth-child(odd) {
    border-left: 5px solid var(--secondary-bg-color);
    padding-left: 3rem;
    transform: translate(50%);
}

.checkpoint:nth-child(even) {
    border-right: 5px solid var(--secondary-bg-color);
    padding-right: 3rem;
    transform: translate(-49.5%);
}

/*Tour Section*/

.tour-container {
    width: 100%;
    height: 100vh;
}

/*Footer Section*/
.footer-container {
    width: 100%;
    height: 30vh;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-title {
    margin-left: 20px;
    font-size: var(--large-font-size);
    font-family: var(--cursive-font-family);
    position: relative;
}

.footer-title span {
    display: inline-block;
}

.footer-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.15rem;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms ease-out;
}

.footer-title:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.copyright {
    font-family: var(--cursive-font-family);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.social-media {
  width: 10%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;

    a {
      transition: all .3s ease-in-out;
    }

    a:hover {
      transform: scale(1.2);
    }
}






















/*Animation*/
@keyframes carousel {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-33.575%);
    }
}