/*General Styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: #000000;
    color: #ffffff;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

/*HEADER*/
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(25, 24, 24, 0.2);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    position: relative;
}

.Logo {
    transition: transform 0.8s;
}

.Logo:hover{
    transform: scale(1.1);
}


.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}

.title h1 a {
    font-size: 1.5em;
    color: #ff001e80;
    text-shadow: 0 0 5px #ff001e80, 0 0 10px #ff001e80, 0 0 20px #ff001e80;
    transition: all 0.85s;
}

.title :hover{
    color: #dc0000;
    text-shadow: 0 0 10px #dc0000, 0 0 20px #dc0000, 0 0 30px #dc0000;
    cursor: pointer;
}

.navegador {
    display: flex;
    align-items: center;
    gap: 50px;
    text-transform: uppercase;
}

.items-nav{
    font-size: 1.1em;
    font-weight: bold;
    color: #ff001e80;
    transition: all 0.85s;
    padding: 5px;
}

.items-nav:hover {
    color: #dc0000;
    cursor: pointer;
    background-color: #320005cc;
    padding: 5px;
    border-radius: 5px;
}

/*INFINITE ANIMATION*/

.wrapper {
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 200px;
    margin-top: 8rem;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0) 100%
    );
}

.animation-box img {
    object-fit: scale-down;
    width: 200px;
    height: 200px;
}

@keyframes scrollInfinite {
    to{
        left: -200px;
    }
    
}

.animation-box {
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 6px;
    left: max(calc(200px * 5), 100%);
    animation-name: scrollInfinite;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.item1 {
    animation-delay: calc(30s / 5 * (5 - 1) * -1);
}

.item2 {    
    animation-delay: calc(30s / 5 * (5 - 2) * -1);
}

.item3 {
    animation-delay: calc(30s / 5 * (5 - 3) * -1);
}

.item4 {
    animation-delay: calc(30s / 5 * (5 - 4) * -1);
}

.item5 {
    animation-delay: calc(30s / 5 * (5 - 5) * -1);
}



