/*General Styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

body {
    background: #000000;
    color: #ffffff;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

/*HEADER*/
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1000;
    position: relative;
}

.Logo {
    transition: transform 0.8s;
}

.Logo:hover{
    transform: scale(1.1);
}


.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.title h1 a {
    font-size: 1.5em;
    color: #ff001e80;
    text-shadow: 0 0 5px #ff001e80, 0 0 10px #ff001e80, 0 0 20px #ff001e80;
    transition: all .5s;
    white-space: nowrap; /* prevent line breaks in title */
}

.title :hover{
    color: #dc0000;
    text-shadow: 0 0 10px #dc0000, 0 0 20px #dc0000, 0 0 30px #dc0000;
}

.navegador {
    display: flex;
    align-items: center;
    gap: 50px;
    text-transform: uppercase;
}

.menu-icon {
    display: none;
}

.navegador-responsive {
    display: none ;
}

.items-nav{
    font-size: 1.1em;
    font-weight: bold;
    color: #ff001e80;
    text-shadow: 0 0 5px #ff001e80, 0 0 10px #ff001e80, 0 0 20px #ff001e80;
    transition: all 0.85s;
    padding: 5px;
}

.items-nav:hover {
    color: #dc0000;
    text-shadow: 0 0 10px #dc0000, 0 0 20px #dc0000, 0 0 30px #dc0000;
    cursor: pointer;
}

/*INFINITE ANIMATION*/

.wrapper {
    display: flex;
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 300px;
    margin-top: 8rem;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0) 100%
    );
}

@keyframes scrollInfinite {
    to{
        left: -200px;
    }   
}

.item1 {
    animation-delay: calc(30s / 7 * (7 - 1) * -1);
}

.item2 {    
    animation-delay: calc(30s / 7 * (7 - 2) * -1);
}

.item3 {
    animation-delay: calc(30s / 7 * (7 - 3) * -1);
}

.item4 {
    animation-delay: calc(30s / 7 * (7 - 4) * -1);
}

.item5 {
    animation-delay: calc(30s / 7 * (7 - 5) * -1);
}

.item6 {
    animation-delay: calc(30s / 7 * (7 - 6) * -1);
}

.item7 {
    animation-delay: calc(30s / 7 * (7 - 7) * -1);
}


.animation-box {
    width: 200px;
    height: 200px;
    position: absolute;
    left: max(calc(200px * 7), 100%);
    animation-name: scrollInfinite;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.animation-box img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    transition: opacity 0.4s, transform 0.4s;
}

.animation-box:hover {
    z-index: 10;
}
.animation-box:hover img {
    opacity: 0.6;
}

/*VIDEO SECTION*/
.videos{
    animation: pop-pop ease-in;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

.video-anim {
    opacity: 0;
    scale: .5;
    transition: opacity 0.5s, scale 0.5s;
}

.video-anim.visible {
    animation: pop-pop 0.7s ease-in forwards;
}

/*Popular Songs Section*/
.popular-songs {
    width: 100vw;
    min-height: 550px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

/*FOOTER*/

.footer-section {
    background-color: #ff001e80;
    color: #ffffff;
    width: 100vw;
    min-width: 320px;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center; /* Centra el contenido principal */
    align-items: center;
    padding: 0 40px; /* Espacio a los lados */
    box-sizing: border-box;
}

#Copy {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: stroke;
    text-align: center;
    width: max-content;
}

.shareContact {
    position: absolute;
    right: 40px; /* Espacio desde el borde derecho */
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 20px;
}

.icons {
    filter: drop-shadow(0 4px 20px rgba(255, 255, 255, 0.2));
    transition: transform 0.3s;
}

.icons:hover {
    transform: scale(1.2);
}