@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

/*General Styles*/
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --bold-font-family: "Notable", sans-serif;
    --cursive-font-family: 'Permanent Marker', cursive;
    --regular-font-family: 'Dekko', sans-serif;
    --primary-bg-color: #6e0202;
    --secondary-bg-color: #0e0d0d;
    --ultra-large-font-size: 40rem;
    --large-font-size: 1.8rem;
    --medium-font-size: 1.2rem;
    --small-font-size: .85rem;
    --primary-text-color: #c7c7c7;
    --secundary-text-color: #0e0d0d;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a, li {
    text-decoration: none;
    list-style: none;
}

/*Header Section*/

header {
    width: 100%;
    height: auto;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    z-index: 1000;
    font-family: var(--cursive-font-family);
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
}

.title-container {
    font-size: var(--large-font-size);
    position: relative;
}

.title span {
    display: inline-block;
}

/*Nav Section*/
.nav-container {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
}

.nav-items {
    width: auto;
    padding: 5px 10px;
    position: relative;
    color: var(--primary-text-color);
    font-family: var(--bold-font-family);
}

.nav-items span {
    display: inline-block;
}

.nav-items::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.22rem;
    background-color: #c7c7c7;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms ease-out;
}

.nav-items:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/*Hero Section*/
.hero {
    max-width: 80%;
    height: 100vh;
    padding: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    -webkit-mask-image:linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0) 100%
    );
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0) 100%
    );
}

.scroll-track {
    max-width: max-content;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    gap: 120px;
    padding: 20px;
    will-change: transform;
    animation: carousel 25s linear infinite;
}

.album-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 350ms ease-in-out;
}

.album-carousel:hover {
    cursor: pointer;
    transform: scale(1.05);
    opacity: .75;
}

.album-carousel img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}


/*About Wrapper Section*/
.about-wrapper {
    width: 500vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    will-change: transform;
    position: relative;
    overflow: hidden;
}

.about-title {
    text-align: center;
    font-size: var(--ultra-large-font-size);
    color: var(--secundary-text-color);
    font-family: var(--bold-font-family);
    position: relative;
}

.about-title span {
    display: inline-block;
}

/*About Section Info*/
.about-info {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.info {
    width: 90%;
    font-size: 2.2rem;
    font-weight: 900;
    font-family: var(--bold-font-family);
    position: relative;
    color: var(--secundary-text-color);
}

/*Timeline Section*/
.timeline-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden; 
    padding: 0 0 20px 0;
    scroll-margin-top: -80px;
}

.title-mask {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-bg-color);
    inset: 0;
    pointer-events: none;
}

.timeline-title {
    font-size: 6rem;
    font-family: var(--bold-font-family);
    display: flex;
    align-items: center;
    pointer-events: auto;
    color: var(--secundary-text-color);
    /* Importante: para optimizar la animación de escala */
    will-change: transform, opacity; 
    /* Fuerzas el renderizado de alta calidad para las tipografías */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.timeline-title span {
    display: inline-block;
}

.timeline {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}

.checkpoint {
    width: 55%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.checkpoint div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;    
    border: 2px solid var(--secondary-bg-color);
    border-radius: 20px;
    padding: 1.5rem;
}

.checkpoint div img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.timeline-description{
    font-size: 1rem;
    font-family: var(--bold-font-family);
    color: var(--secundary-text-color);
    will-change: clip-path;
}

.timeline-description span {
    display: inline-block;
}

.checkpoint:nth-child(odd) {
    padding-left: 3em;
    transform: translate(50%);
}

.checkpoint:nth-child(even) {
    padding-right: 3em;
    transform: translate(-50%);
}

/*Tour Section*/
.tour-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0 0 0;
    margin-bottom: 50px;
}

.tour-title {
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    overflow: hidden;
}

.on-tour {
    position: relative;
    text-align: center;
    font-size: 5rem;
    font-family: var(--bold-font-family);
    color: var(--secondary-bg-color);
}

.on-tour span {
    display: inline-block;
}

.tour-box {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.tour-items {
    min-width: 33%;
    height: 200px;
    font-family: var(--bold-font-family);
    position: relative;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid transparent;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
    transition: border-color 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.tour-items:hover {
    border-color: var(--primary-text-color);
    transform: scale(1.025);
}

.tour-items a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: var(--primary-text-color);
}

.date {
    width: 40%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    background-color: var(--secondary-bg-color);
    margin-left: 40px;
}

.date-title {
    font-size: var(--large-font-size);
}

.tour-info {
    width: 40%;
    margin-right: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Footer Section*/
.footer-container {
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    background-color: var(--secondary-bg-color);
    padding-top: 25px;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);
}

.footer-content-sticky {
    width: 100%;
    height: 600px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    padding-top: 25px;
}

/*Contact Container*/
.contact-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto 0 50px;
    font-family: 'Courier New', Courier, monospace;
    color: var(--primary-text-color);
}

.contact-title {
    font-size: 1.5rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-info > p > a {
    color: var(--primary-text-color);
    position: relative;
}

.contact-info > p > a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.2rem;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms ease-out;
}

.contact-info > p > a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.contact-info > p > a > span {
    display: inline-block;
}

/*Footer Original Contenct*/
.footer-title-container  {
    width: 35%;
    position: relative;
}

.footer-title {
    font-size: var(--large-font-size);
    font-family: var(--bold-font-family);
    position: relative;
    width: max-content;
}

.footer-title span {
    display: inline-block;
}

.footer-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.2rem;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms ease-out;
}

.footer-title:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.copyright {
    font-size: var(--large-font-size);
    font-family: var(--bold-font-family);
    color: #302b2b;
    margin: auto 0 20px 0;
}

.social-media {
  width: 35%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  margin-right: 20px;

    a {
      transition: all .3s ease-in-out;
    }

    a:hover {
      transform: scale(1.2);
    }
}

/*Animation*/
@keyframes carousel {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-33.575%);
    }
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}