/*General Styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: #000000;
    color: #ffffff;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

/*HEADER*/
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    position: relative;
}

.Logo {
    transition: transform 0.8s;
}

.Logo:hover{
    transform: scale(1.1);
}


.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.title h1 a {
    font-size: 1.5em;
    color: #ff001e80;
    text-shadow: 0 0 5px #ff001e80, 0 0 10px #ff001e80, 0 0 20px #ff001e80;
    transition: all .5s;
}

.title :hover{
    color: #dc0000;
    text-shadow: 0 0 10px #dc0000, 0 0 20px #dc0000, 0 0 30px #dc0000;
}

.navegador {
    display: flex;
    align-items: center;
    gap: 50px;
    text-transform: uppercase;
}

.items-nav{
    font-size: 1.1em;
    font-weight: bold;
    color: #ff001e80;
    text-shadow: 0 0 5px #ff001e80, 0 0 10px #ff001e80, 0 0 20px #ff001e80;
    transition: all 0.85s;
    padding: 5px;
}

.items-nav:hover {
    color: #dc0000;
    text-shadow: 0 0 10px #dc0000, 0 0 20px #dc0000, 0 0 30px #dc0000;
    cursor: pointer;
}

/*FOOTER*/

.footer-section {
    background-color: #ff001e80;
    color: #ffffff;
    width: 100vw;
    min-width: 320px;
    height: 80px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center; /* Centra el contenido principal */
    align-items: center;
    padding: 0 40px; /* Espacio a los lados */
    box-sizing: border-box;
}

#Copy {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: stroke;
    text-align: center;
    width: max-content;
}

.shareContact {
    position: absolute;
    right: 40px; /* Espacio desde el borde derecho */
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 20px;
}

.icons {
    filter: drop-shadow(0 4px 20px rgba(255, 255, 255, 0.2));
    transition: transform 0.3s;
}

.icons:hover {
    transform: scale(1.2);
}


